<div class="right-content-container">
	<div class="tile-container flexbox-wrap">
		<div class="intro-tile">
			<div class="bio-image"></div>
			<div class="bio-content">
				<p>I am a Front-end developer / UI designer currently working at <strong>MaxBounty</strong>. I was previously the lead designer at <strong>MicroMetrics</strong>.</p>
			</div>
		</div>
		<div class="actions-tile">
			<a target="_blank" href="https://github.com/merrick89/merrickchun.com" class="action-item-tile flexbox flexbox-middle">
				<div><i class="fa fa-github fa-3x"></i></div>
				<div class="action-content">
					<h4 class="pblue">merrick89/merrickchun.com</h4>
					<span class="pgrey">View on GitHub</span>
				</div>
				<div><i class="pgrey fa fa-external-link"></i></div>
			</a>
		</div>
	</div>
</div>