<div class="right-content-container">
	<div class="tile-container flexbox-wrap">
		<div class="intro-tile">
			<div class="bio-image flexbox flexbox-middle">
				<div style="width:100%;" class="text-center">
					<img src="images/me.png"><br><br>
					<a href="mailto:merrickchun@gmail.com" class="contact-icon" rel="tooltip" title="e-mail me" data-placement="left"><i class="fa fa-envelope-o fa-fw"></i></a> &nbsp;
					<a href class="contact-icon" rel="tooltip" title="call me" data-placement="right"><i class="fa fa-mobile fa-fw"></i></a>
				</div>				
			</div>
			<div class="bio-content flexbox flexbox-middle">
				<div>
					<img style="max-width:50px; margin:10px;" src="images/hi.png">					
				</div>
				<div class="action-content">
					<p>I am a Front-end developer / UI designer currently working at <strong>MaxBounty</strong>. I was previously the lead designer at <strong>MicroMetrics</strong>.</p>
				</div>				
			</div>
		</div>
		<div class="actions-tile">
			<a target="_blank" href="https://github.com/merrick89/merrickchun.com" class="action-item-tile flexbox flexbox-middle">
				<div><i class="fa fa-github fa-3x"></i></div>
				<div class="action-content">
					<h4 class="pblue">merrick89/merrickchun.com</h4>
					<span class="pgrey">View on GitHub</span>
				</div>
				<div><i class="pgrey fa fa-external-link"></i></div>
			</a>
		</div>
	</div>
</div>